.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    font-family: var(--fonte-principal);
    align-items: center;
    position: relative;
  }
  
  .cabecalho__menu {
    display: inline-block;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container__botao {
    display: none;
  }
  
  .lista__menu-titulo {
    font-weight: 700;
    color: var(--amarelo);
    padding: 1em 0 0 0.5em;
    -webkit-text-stroke-width: 0.15px;
    -webkit-text-stroke-color: #777777;
  }
  
  .container__image {
    padding: 1em;
  }
  
  .lista__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    background-color: var(--branco);
    border-radius: 0 0 10px 0px;
  }
  
  .lista__menu-item {
    padding: 1em;
  }
  
  .lista__menu-link {
    color: var(--roxo);
    font-weight: 500;
    text-decoration: none;
  }
  
  .container__botao:checked~.lista__menu {
    display: block;
  }
  
  .container__titulo {
    display: none;
  }
  
  .opcoes {
    display: none;
  }
  
  .container__texto {
    display: none;
  }
  
  @media screen and (min-width: 1024px) {
    .container__botao:checked~.lista__menu {
      display: none;
    }
  
    .container__titulo {
      display: block;
      font-family: var(--fonte-secundaria);
      font-weight: var(--fonte-secundaria-normal);
      font-size: 1.875em;
    }
  
    .container__titulo--negrito {
      font-weight: var(--fonte-secundaria-bold);
    }
  
    .cabecalho__menu {
      display: none;
    }
  
    .container .favorito {
      display: none;
    }
  
    .opcoes {
      display: flex;
    }
  
    .opcoes__item {
      padding: 0 1em;
      text-transform: uppercase;
    }
  
    .opcoes__link {
      text-decoration: none;
      color: var(--preto);
    }
  
    .opcoes__botao {
      display: none;
    }
  
    .lista-menu {
      display: none;
      position: absolute;
      top: 100%;
      width: 60vw;
      background-color: var(--branco);
      border-radius: 0 0 10px 0px;
    }
  
    .lista-menu__link {
      text-decoration: none;
    }
  
    .lista-menu-link {
      color: var(--roxo);
      font-weight: 500;
      text-decoration: none;
    }
  
    .opcoes__item {
      padding: 2em 1em;
    }
  
    .opcoes__botao:checked~.opcoes__rotulo {
      background: var(--roxo-degrade);
      color: white;
    }
  
    .opcoes__botao:checked~.lista-menu {
      display: block;
      width: auto;
    }
  
    .lista__menu-item:hover {
      background-color: var(--roxo);
      color: white;
    }
  
    .lista__menu-item:hover a {
      color: white;
    }
  }
  
  @media screen and (min-width: 1728px) {
    .container__texto {
      display: block;
    }
  
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }    
    .cabecalho{
        padding: 0 2em;
    }
    .opcoes{
        margin-right: auto;
    }
  }